.navbar {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: cover;
  color: #fff;
  padding: 0;
  height: 200px;
  position: relative;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.nav-list li {
  margin: 0 5px;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-letter {
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-letter:hover {
  animation: pastelColors 2s linear infinite;
}

@keyframes pastelColors {
  0% {
    color: #d1a3a4;
  }
  25% {
    color: #a3c4d4;
  }
  50% {
    color: #b6d7a8;
  }
  75% {
    color: #e6c7a3;
  }
  100% {
    color: #d1a3a4;
  }
}

.nav-logo {
  width: 400px;
  height: auto;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.nav-list li:active ~ .nav-logo,
.nav-logo:active {
  animation: swipe 1.2s ease forwards;
  cursor: pointer;
}

@keyframes swipe {
  0% {
    transform: translate(-50%, 0) rotate(0deg);
  }
  25% {
    transform: translate(-50%, 0) translateX(-60px) rotate(30deg);
  }
  50% {
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.nav-list {
  margin-left: 30rem;
}

.nav-list li:first-child {
  margin-right: 50rem;
}

.nav-list li:last-child {
  margin-left: 50px;
}
